.section-services,
.section-benefits{
  padding: 10rem;
}
.section-benefits{
  background-color: $color-primary;
}
.section-testimonial{
  background-color: #eee;
}
.section-cta{
  background-color: $color-primary;
}
